.financial-model {
  margin-top: 15rem;
  width: 120rem !important;

  &__title--main {
    @include text-primary($color-blue-2);
  }

  &__title--sub {
    @include block-sub-txt($color-grey8F);
    margin-top: .5rem;
  }

  &__blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    width: 100%;
  }

  &__info-blocks {
    display: flex;
    width: 62%;

    &--right {
      margin-left: 7.5rem;
    }

    .info-block {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 7.5rem;
      }

      .info {
        margin-left: 3rem;

        .title {
          @include block-title($color-blue-bg);
          position: relative;

          .title-sub {
            @include block-sub-txt($color-black-1b);
            position: absolute;
            top: 0;
            overflow: visible;
            width: 6.9rem
          }
        }
        .sub {
          @include block-sub-txt($color-black-1b);
          opacity: .3;
          margin-top: .5rem;
        }
      }
    }
  }
  &__right-block {
    width: 33%;
    padding: 3.5rem;
    background-color: $color-blue-2;
    border-radius: 2rem;

    .top-text {
      font-family: 'manrope', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 2.6rem;
      line-height: 120%;
      color: $color-white;
    }

    .bottom-block {
      margin-top: 7.8rem;

      .income {
        @include main-cost($color-white);
      }
      .sub {
        @include block-sub-txt($color-white);
        margin-top: .5rem;
      }

      .main-btn {
        @include links-btn($color-blue-2, $color-white);
        margin-top: 3.5rem;
      }
    }
  }
}
