.team-container {
  background-color: $color-blue-bg;

  .team {
    padding-top: 15rem;
    padding-bottom: 20rem;

    &__title {
      font-family: 'pf', serif;
      font-style: normal;
      font-weight: 900;
      font-size: 6rem;
      line-height: 120%;
      color: $color-white;
    }

    &__descr-container {
      display: flex;
      margin-top: 1.5rem;

      &--sub:last-child {
        margin-left: 6rem;
      }

      &--sub {
        @include text-secondary($color-white);
      }
    }
  }
}

