@mixin links-btn($color, $bg-color) {
  background-color: $bg-color;
  color: $color;
  padding: 1.9rem 5.25rem;
  display: inline-block;
  border-radius: 1.5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
  max-width: 32rem;
  font-family: 'manrope', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

@mixin text-primary($textColor){
  font-family: 'pf', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 120%;
  color: $textColor;
}

@mixin text-secondary($textColor){
  font-family: 'manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: $textColor;
}

@mixin main-cost($textColor) {
  font-family: 'manrope', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6.2rem;
  line-height: 120%;
  color: $textColor;
}

@mixin block-cost($textColor) {
  font-family: 'manrope', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 120%;
  color: $textColor;
}

@mixin block-sub-txt($textColor) {
  font-family: 'manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 140%;
  color: $textColor;
}

@mixin block-line($line-color){
  width: 100%;
  height: .1rem;
  background: $line-color;
  opacity: 0.3;
}
