@font-face{
  font-family: 'manrope';
  font-weight: 500;
  font-display: swap;
  src: url("../../public/assets/fonts/Manrope-Regular.woff2") format("woff2");
}
@font-face{
  font-family: 'manrope';
  font-weight: 600;
  font-display: swap;
  src: url("../../public/assets/fonts/Manrope-Medium.woff2") format("woff2");
}
@font-face{
  font-family: 'manrope';
  font-weight: 700;
  font-display: swap;
  src: url("../../public/assets/fonts/Manrope-Semibold.woff2") format("woff2");
}
@font-face{
  font-family: 'manrope';
  font-weight: 800;
  font-display: swap;
  src: url("../../public/assets/fonts/Manrope-Bold.woff2") format("woff2");
}
@font-face{
  font-family: 'pf';
  font-weight: 500;
  font-display: swap;
  src: url("../../public/assets/fonts/PFRegalDisplayPro-Regular.woff2") format("woff2");
}
@font-face{
  font-family: 'pf';
  font-weight: 600;
  font-display: swap;
  src: url("../../public/assets/fonts/PFRegalDisplayPro-Medium.woff2") format("woff2");
}
@font-face{
  font-family: 'pf';
  font-weight: 700;
  font-display: swap;
  src: url("../../public/assets/fonts/PFRegalDisplayPro-Bold.woff2") format("woff2");
}
